<nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img src="DynoC_Programming_Language.svg" alt="DynoC Logo">DynoC</a>
    </li>
    <li><a routerLink="/getting-started" routerLinkActive="active">Getting Started</a></li>
    <li><a routerLink="/documentation" routerLinkActive="active">Documentation</a></li>
    <li><a routerLink="/examples" routerLinkActive="active">Examples</a></li>
    <li><a routerLink="/contributing" routerLinkActive="active">Contributing</a></li>
  </ul>
</nav>
