<h2>Syntax</h2>
<p>DynoC uses syntax similar to C++ and Java.</p>

<h3>Basic Structure</h3>
<p>A DynoC program is a collection of statements and function definitions.</p>
<p>Each statement ends with a semicolon (<code>;</code>).</p>
<pre>
<print_line/>(<string>Hello, DynoC!</string>);
</pre>
<p>Blocks of code use curly braces <code>&#123;&#125;</code>, just like in C-style languages.</p>
<pre>
<if/> (x > <number>0</number>)
&#123;
    <print_line/>(<string>Positive</string>);
&#125;
<else/>
&#123;
    <print_line/>(<string>Negative</string>);
&#125;
</pre>

<h3>Comments</h3>
<p>You can write single-line and multi-line comments:</p>
<pre>
<comment>// This is a single-line comment</comment>

<comment>/*
 This is a
 multi-line comment
*/</comment>
</pre>
<p>You can also write DCDoc comments to describe your functions:</p>
<pre>
<dcdoc-comment [info]="{
  description: 'Returns the square of the given integer',
  params: [{name: 'a', description: 'The integer value to square'}],
  returns: 'The squared result of the input value'
}"/>
<int/> <function>square</function>(<int/> a)
&#123;
    <return/> a * a;
&#125;
</pre>

<h3>Variables</h3>
<p>Use one of the <a href="/documentation/0.3.0/language-guide/types">types</a> or <code>var</code> to declare a
  variable. The <code>var</code> keyword will infer the type from the assigned value.</p>
<pre>
<var-kw/> name = <string>Boris</string>;
<var-kw/> age = <number>21</number>;
<var-kw/> pi = <number>3.14159265</number>;
</pre>
<p>You can reassign variables at any time.</p>
<pre>
age = 22;
</pre>
<p>Explicit type declarations are also allowed:</p>
<pre>
<int/> x = <number>5</number>;
<float/> y = <number>2.5</number>;
</pre>

<h3>Operators</h3>
<!-- TODO: not sure if table is best option here -->
<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Operators</th>
    <th>Example</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Arithmetic</td>
    <td>
      <code>+</code>,
      <code>-</code>,
      <code>*</code>,
      <code>/</code>,
      <code>%</code>
    </td>
    <td>
      <code>a = 5 + 2;</code>
    </td>
  </tr>
  <tr>
    <td>Comparison</td>
    <td>
      <code>==</code>,
      <code>!=</code>,
      <code><</code>,
      <code><=</code>,
      <code>></code>,
      <code>>=</code>
    </td>
    <td>
      <code>if (x == 10)</code>
    </td>
  </tr>
  <tr>
    <td>Logical</td>
    <td>
      <code>!</code>,
      <code>&&</code>,
      <code>||</code>
    </td>
    <td>
      <code>if (!done)</code>
    </td>
  </tr>
  <tr>
    <td>Increment / Decrement</td>
    <td>
      <code>++</code>,
      <code>--</code>
    </td>
    <td>
      <code>i++;</code>
    </td>
  </tr>
  <tr>
    <td>Bitwise</td>
    <td>
      <code>~</code>,
      <code>&</code>,
      <code>|</code>,
      <code>^</code>,
      <code><<</code>,
      <code>>></code>
    </td>
    <td>
      <code>x = y & 3</code>
    </td>
  </tr>
  </tbody>
</table>

<h3>Strings</h3>
<p>Strings are written in double quotes.</p>
<p>You can concatenate them with <code>+</code>.</p>
<pre>
<string-kw/> greeting = <string>Hello, </string> + <string>World!</string>;
<print_line/>(greeting);
</pre>
<p>Characters use single quotes:</p>
<pre>
<char-kw/> letter = <char>A</char>;
</pre>

<h3>Arrays</h3>
<p>Arrays hold multiple values of a specified type.</p>
<pre>
<int/>[] numbers = [<number>1</number>, <number>2</number>, <number>3</number>, <number>4</number>];
<print_line/>(numbers[<number>0</number>]); <comment>// Output: 1</comment>
</pre>
<p>Arrays can be nested.</p>
<pre>
<int/>[][] nums = [
    [<number>1</number>, <number>2</number>, <number>3</number>],
    [<number>4</number>, <number>5</number>, <number>6</number>],
    [<number>7</number>, <number>8</number>, <number>9</number>],
]

<var-kw/> more_nums = [
    [<number>1.1</number>, <number>2.2</number>],
    [<number>3.3</number>, <number>4.4</number>, <number>5.5</number>, <number>6.6</number>],
    [<number>7.7</number>, <number>8.8</number>, <number>9.9</number>]
]
</pre>

<h3>Functions</h3>
<p>Functions are defined using their return type and parameters</p>
<pre>
<void/> <function>greet</function>(<string-kw/> name)
&#123;
    <print_line/>(<string>Hello, </string>, name);
&#125;
</pre>
<p>And are called with arguments.</p>
<pre>
<function>greet</function>(<string>DynoC</string>);
</pre>
<p>You can also return values using <code>return</code></p>
<pre>
<int/> <function>add</function>(<int/> a, <int/> b)
&#123;
    <return/> a + b;
&#125;
</pre>

<h3>Control Flow</h3>
<p>DynoC supports common control flow structures:</p>
<pre>
<if/> (x > <number>0</number>)
&#123;
    <print_line/>(<string>Positive</string>);
&#125;
<else/> <if/> (x < <number>0</number>)
&#123;
    <print_line/>(<string>Negative</string>);
&#125;
<else/>
&#123;
    <print_line/>(<string>Zero</string>);
&#125;

<for/> (<var-kw/> i = <number>0</number>; i < <number>5</number>; i++)
&#123;
    <print_line/>(i);
&#125;

<while/> (<comment>/* condition */</comment>)
&#123;
    <comment>// repeat until false</comment>
&#125;
</pre>

<h3>Input & Output</h3>
<p>Printing functions:</p>
<pre>
<print/>(<string>Hello </string>);       <comment>// No newline</comment>
<print_line/>(<string>World!</string>);  <comment>// Adds newline</comment>
<print_error/>(<string>Error!</string>); <comment>// Prints to stderr</comment>
</pre>
<p>Input function:</p>
<pre>
<string-kw/> name = <input-fn/>(<string>Enter name: </string>);
</pre>

<h3>Example Program:</h3>
<p>Here's an example of the implementation of the Fibonacci Sequence in DynoC!</p>
<pre>
<int/> <function>fibonacci</function>(<int/> n)
&#123;
    <if/> (n <= <number>1</number>) <return/> <number>0</number>;
    <if/> (n == <number>2</number>) <return/> <number>1</number>;

    <return/> <function>fibonacci</function>(n - <number>1</number>) + <function>fibonacci</function>(n - <number>2</number>);
&#125;

<print_line/>(<string>The 5th Fibonacci number is </string>, <function>fibonacci</function>(<number>5</number>));
</pre>
<p>Output:</p>
<pre>
The 5th Fibonacci number is 8
</pre>
