<h2>Functions</h2>
<p>Functions in DynoC are defined using a syntax similar to C++ and Java, but with dynamic typing by default.</p>

<h3>Basic Function</h3>
<pre>void greet(string name) &#123;
  print("Hello, " + name);
&#125;

greet("Boris");
</pre>

<h3>Returning Values</h3>
<pre>int square(int x) &#123;
  return x * x;
&#125;

var result = square(5); // 25
</pre>

<!--<h3>Closures</h3>-->
<!--<p>Functions can capture variables-and-scope from their scope, allowing simple closures:</p>-->
<!--<pre>func counter() &#123;-->
<!--  var count = 0;-->
<!--  return func() &#123;-->
<!--        count++;-->
<!--        return count;-->
<!--    &#125;;-->
<!--&#125;-->

<!--var c = counter();-->
<!--print(c()); // 1-->
<!--print(c()); // 2-->
<!--</pre>-->
